@import "../../../variables";

.stats-container {
  background: $color-white;
  height: auto;

  .stats-content {
    display: flex;
    flex-direction: column;
    padding: 10rem 2rem;
    gap: 5rem;
    justify-content: center;
    align-items: center;

    .stats-header-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .stats-one {
        font-size: 4.8rem;
        font-weight: 600;

        @media only screen and (max-width: 1200px) {
          font-size: 4rem;
        }
        @media only screen and (max-width: 735px) {
          font-size: 3.6rem;
        }
        @media only screen and (max-width: 620px) {
          font-size: 3.2rem;
        }
        @media only screen and (max-width: 575px) {
          font-size: 2.4rem;
        }
        @media only screen and (max-width: 445px) {
          font-size: 2rem;
        }
      }
      .stats-one::after {
        content: " Community";
        color: $color-orange;
        font-weight: 700;

        @media only screen and (max-width: 1200px) {
          font-size: 4rem;
        }
        @media only screen and (max-width: 735px) {
          font-size: 3.6rem;
        }
        @media only screen and (max-width: 620px) {
          font-size: 3.2rem;
        }
        @media only screen and (max-width: 575px) {
          font-size: 2.4rem;
        }
        @media only screen and (max-width: 445px) {
          font-size: 2rem;
        }
      }

      .stats-many {
        font-size: 4.8rem;
        font-weight: 600;

        @media only screen and (max-width: 1200px) {
          font-size: 4rem;
        }
        @media only screen and (max-width: 735px) {
          font-size: 3.6rem;
        }
        @media only screen and (max-width: 620px) {
          font-size: 3.2rem;
        }
        @media only screen and (max-width: 575px) {
          font-size: 2.4rem;
        }
        @media only screen and (max-width: 445px) {
          font-size: 2rem;
        }
      }
      .stats-many::after {
        content: " Reunions";
        color: $color-blue;
        font-size: 4.8rem;
        font-weight: 700;

        @media only screen and (max-width: 1200px) {
          font-size: 4rem;
        }
        @media only screen and (max-width: 735px) {
          font-size: 3.2rem;
        }
        @media only screen and (max-width: 620px) {
          font-size: 3.2rem;
        }
        @media only screen and (max-width: 575px) {
          font-size: 2.4rem;
        }
        @media only screen and (max-width: 445px) {
          font-size: 2rem;
        }
      }
    }

    .stats-circle-card {
      display: flex;
      flex-direction: row;
      gap: 15rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      @media only screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        gap: 5rem;
      }

      .stats-line {
        border-bottom: solid 1px $color-darkgray;
        margin-top: 1.5rem;
      }

      .stats-circle1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-blue;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: $color-semiwhite;
        border: 5px solid $color-white;
        border: solid;

        @media only screen and (max-width: 575px) {
          width: 15rem;
          height: 15rem;
        }
      }
      .stats-circle2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-orange;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: $color-semiwhite;
        border: 5px solid $color-white;
        border: solid;
        @media only screen and (max-width: 575px) {
          width: 15rem;
          height: 15rem;
        }
      }

      .stats-circle3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        color: $color-brown;
        background-color: $color-semiwhite;
        border: 5px solid $color-white;
        border: solid;
        @media only screen and (max-width: 575px) {
          width: 15rem;
          height: 15rem;
        }
      }
      .stats-circle-number {
        font-size: 4.8rem;
        font-weight: 700;

        @media only screen and (max-width: 575px) {
          font-size: 3.6rem;
        }
      }
      .stats-circle-text {
        font-size: 1.8rem;
        font-weight: 600;
        @media only screen and (max-width: 575px) {
          font-size: 1.6rem;
        }
      }
    }
    .stats-footer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      font-weight: 400;

      .stats-footer-text {
        @media only screen and (max-width: 1000px) {
          font-size: 2.2rem;
          text-align: center;
        }

        @media only screen and (max-width: 460px) {
          text-align: center;
          font-size: 1.6rem;
        }
      }
    }
  }
}
