@import "../../../variables";

.img-paw {
  margin-bottom: -0.5rem;
  height: 2.5rem;
  width: 100%;
  background-size: auto 100%; /* The width is dependent on the height, height covers 100% of the container */
  background-image: url("/img/img-paw.png");
  background-repeat: repeat-x;
  background-position: center;
}
.statistic {
  padding: 5rem 0;
  background-color: $color-lbrown;

  .container {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
      // flex-direction: column;
    }
  }
}
