@import "../../variables";

.petdetail-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 2.5rem auto;
  gap: 4rem;
  background-color: $color-white;
  border-radius: 2.5rem;
  padding: 5rem;

  .petdetail-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .image-gallery {
      width: 85%;
      margin: auto;
      text-align: center;
      height: auto;
    }

    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
      width: 4rem;
    }

    .petdetail-social-icon {
      display: flex;
      gap: 10rem;
      align-items: center;
      justify-content: center;
      color: $color-darkgray;

      .left-social-icon {
        width: 30px;
        height: 5vh;
      }
    }

    .share-icon {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: $color-blue;

      .left-share-icon {
        width: 30px;
        height: 3vh;
      }
    }
  }

  .petdetail-right-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .petdetail-chat-btn {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      padding: 5px;
      background-color: $color-white;
      border: 2px solid $color-orange;
      color: $color-orange;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;

      .chat-icon {
        width: 20px;
        height: 25px;
      }
    }

    .petdetail-right-header {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      gap: 2rem;
    }

    .petdetail-right-container {
      display: flex;
      flex-direction: column;
    }

    .petdetail-right-container {
      height: 100%;
    }

    .petdetail-right-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: $color-lightgray;
    }
  }

  .petdetail-footer-middle {
    grid-column: 1 / 4;
    margin: auto;
    width: fit-content;
  }

  .petdetail-footer-img {
    width: 80vw;
    height: 50vh;
  }
}
