@import "../../variables";

.petdetail-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  gap: 2rem;

  .petdetail-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .petdetail-social-icon {
      display: flex;
      gap: 10rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .left-social-icon {
        width: 50px;
        height: 10vh;
      }
    }
  }

  .petdetail-right-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .petdetail-chat-btn {
      border-radius: 15px;
      padding: 5px;
      background-color: $color-beige;
      border: 2px solid $color-orange;
      color: $color-orange;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;
    }

    .petdetail-right-header {
      text-align: start;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
    }

    .petdetail-right-container {
      display: flex;
      flex-direction: column;
    }

    .petdetail-right-container {
      height: 100%;
    }

    .petdetail-right-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid black;
      margin-bottom: 1rem;
    }

    .petdetail-right-h4 {
    }
  }

  .petdetail-footer-middle {
    grid-column: 1 / 3 span;
    grid-row: 2;

    .image-gallery {
      width: 50%;
      margin: auto;
      text-align: center;
      height: auto;
    }

    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
      width: 4rem;
    }

    .social-icon {
      height: 5vh;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .shareIcon {
        width: 10px;
      }
    }
  }
}
