@import "../../variables";
$footerHeight: 70vh;
$navbarHeight: 80vh;

.contact {
  padding-right: 1rem;
  padding-left: 1rem;
  
  .contact-animation {
    width: 60%;
    margin: auto;

    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }
  .info {
    @media screen and (min-width: 768px) {
      margin: auto;
      width: 90%;
    }

    .title {
      margin: 1.5rem 0;
    }
    
    .text {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
  }
  
  .form-content {
    @media screen and (min-width: 768px) {
      margin: auto;
      width: 90%;
    }
  }

}

