@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "../../variables";

.mapContainer {
  height: 70vh;
  @media only screen and (max-width: 900px) {
    padding-right: 2rem;
    height: 40vh;
  }
  .map {
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 550px) {
      width: 100%;
    }
  }
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leaflet-popup .leaflet-popup-content span:first-child {
  font-size: 2.5rem;
  line-height: 1;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #2d3439;
}

.leaflet-popup-content-wrapper {
  border-left: 10px solid $color-orange;
}
