@import "../../variables";

.primary {
  background: $color-orange;

  &:hover {
    background: darken($color-orange, 10%);
    &:before {
      width: 100%;
    }

    .button-icon {
      transform: scale(1.2);
    }
  }
}

.secondary {
  background: $color-blue;

  &:hover {
    background: lighten($color-blue, 10%);
    &:before {
      width: 100%;
    }
  }
}

.other-button {
  background: $color-white;
  color: $color-orange !important;
  font-weight: 600 !important;

  &:hover {
    background: darken($color-orange, 10%);
    color: $color-white !important;

    .google-icon {
      transform: scale(5);
    }
  }

  .google-icon {
    padding-left: 0.4rem;
    transform: scale(4);
  }
}

.button {
  margin: 0.5rem 0;
  padding: 0.75rem 2.5rem;
  height: 3.8rem;
  color: $color-white;
  border: none;
  border-radius: 19rem;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 4.1rem;
    padding: 1rem 3.5rem;
  }

  @media screen and (min-width: 1440px) {
    height: 5rem;
    padding: 1rem 4.5rem;
  }

  &-width {
    width: 100%;

    @media screen and (min-width: 425px) {
      width: auto;
    }
  }

  &-petCard {
    width: 80%;
    margin-bottom: 1rem;
  }
  //   &-small {
  //     padding: 1.2rem 4rem;
  //   }

  //   &-medium {
  //     padding: 1.4rem 6rem;
  //   }

  //   &-large {
  //     padding: 1.6rem 8rem;
  //   }

  //   @media screen and (max-width: 1441px) {
  //     font-size: 1.6rem;

  //     &-small {
  //       padding: 1rem 2rem;
  //     }

  //     &-medium {
  //       padding: 1.2rem 4rem;
  //     }

  //     &-large {
  //       padding: 1.4rem 6rem;
  //     }
  //   }

  //   @media screen and (max-width: 768px) {
  //     font-size: 1.4rem;

  //     &-large {
  //       padding: 1.2rem 4rem;
  //     }
  //   }

  //   @media screen and (max-width: 400px) {
  //     &-large {
  //       padding: 1rem 2rem;
  //     }
  //   }

  //   &:before {
  //     content: "";
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     width: 0;
  //     height: 100%;
  //     background: rgba(255, 255, 255, 0.2);
  //     border-radius: 19rem;
  //     transition: width 0.3s ease;
  //     z-index: -1;
  //   }

  //   &:active {
  //     transform: scale(0.95);
  //   }
  // }
}

.button-icon {
  padding-left: 0.5rem;
  height: 80%;
  transition: all 0.5s ease-in-out;
}

.button-disabled {
  cursor: not-allowed;
  background: $color-orange;
  &:hover {
    background: $color-orange;
    &:before {
      width: 0;
    }
    .button-icon {
      transform: scale(1);
    }
  }

  &:active {
    transform: scale(1);
  }
}
