@import "../../variables";

.primary {
  background: $color-orange;

  &:hover {
    background: darken($color-orange, 10%);
    &:before {
      width: 100%;
    }

    .button-icon {
      transform: scale(1.2);
    }
  }
}

.secondary {
  background: $color-blue;

  &:hover {
    background: lighten($color-blue, 10%);
    &:before {
      width: 100%;
    }
  }
}

.button {
  color: $color-white;
  margin: 0.5rem 0;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 19rem;
  text-align: center;
  font: 400 1.4rem $font;
  position: relative;
  display: flex;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;

  @media screen and (min-width: 1441px) {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }

  // position: relative;
  // color: $color-white;
  // // font-size: 1.8rem;
  // // font-weight: 600;
  // word-wrap: break-word;
  // padding: 2vh 2vw;
  // border-radius: 19rem;
  // overflow: hidden;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // gap: 10px;
  // display: inline-flex;
  // cursor: pointer;
  // border: none;
  // transition: background 0.3s ease, transform 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 19rem;
    transition: width 0.3s ease;
    z-index: -1;
  }

  &:active {
    transform: scale(0.95);
  }
}

.button-icon {
  // width: 2.5rem;
  // height: 2.5rem;
  height: 80%;
  margin: auto;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.button-disabled {
  cursor: not-allowed;
  background: $color-orange;
  &:hover {
    background: $color-orange;
    &:before {
      width: 0;
    }
    .button-icon {
      transform: scale(1);
    }
  }

  &:active {
    transform: scale(1);
  }
}
