@import "../../variables";

// .pets-cards-container {
//   width: 65vw;

//   .pets-cards-header {
//     color: $color-brown;
//     font-size: 3.2rem;
//     font-weight: 700;
//     margin-bottom: 2rem;
//   }

//   .pets-cards-grid {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: auto;
//     grid-gap: 3rem;
//   }
// }

.gallery-card {
  // max-width: 145rem;
  width: 100%;
  padding: 0 1rem;

  .header {
    margin-bottom: 1rem;
  }

  .grid{
    // height: calc(45rem * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    
    @media screen and (min-width: 1441px) {
      height: auto;
      grid-gap: 5rem;
    }

    @media screen and (max-width: 768px) {
      // height: calc(80rem * 3);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }


  }
}
