@import "../../../variables";

.register-middle-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 15px;
  width: 16vw;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1075px) {
    width: auto;
  }

  /* HTML: <div class="ribbon">Your text content</div> */
  .ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  /* HTML: <div class="ribbon">Your text content</div> */
  .ribbon {
    font-size: 22px;
    font-weight: bold;
    color: $color-white;
  }
  .ribbon {
    --f: 0.5em;

    position: absolute;
    top: 50;
    left: 50;
    margin-bottom: 320px;
    margin-left: 130px;
    line-height: 1.8;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51% / var(--f);
    clip-path: polygon(
      100% calc(100% - var(--f)),
      100% 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),
      var(--f) calc(100% - var(--f)),
      0 100%,
      0 calc(100% - var(--f)),
      999px calc(100% - var(--f) - 999px),
      calc(100% - 999px) calc(100% - var(--f) - 999px)
    );
    transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: $color-blue;
  }

  .register-h3 {
    text-align: center;

    .register-h3-text {
      font-size: 2rem;
      font-weight: 600;
      @media only screen and (max-width: 1300px) {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  .middle-img-container {
    text-align: center;
    .register-img {
      width: 95%;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
  }

  .register-span-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .span-text {
      font-size: 1.1rem;
      font-weight: 600;

      @media only screen and (max-width: 1445px) {
        font-size: 1rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 1225px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }

  .register-button-container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .listing-btn {
      border: 2px solid $color-blue;
      border-radius: 2rem;
      background-color: $color-white;
      padding: 0.2rem 1rem;
      color: $color-blue;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;

      @media only screen and (max-width: 1610px) {
        font-size: 1.2rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 1430px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .listing-btn:hover {
      background: $color-blue;
      color: $color-white;
      transform: scale(0.9);
      transition: 0.6s;
    }
    .listing-btn:active {
      transform: translateY(4px);
    }

    .update-btn {
      border: 2px solid $color-orange;
      border-radius: 2rem;
      background-color: $color-white;
      padding: 0.2rem 2rem;
      font-weight: 600;
      color: $color-orange;
      font-size: 1.4rem;
      cursor: pointer;
      @media only screen and (max-width: 1610px) {
        font-size: 1.2rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 1430px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .update-btn:hover {
      background: $color-orange;
      color: $color-white;
      transform: scale(0.9);
      transition: 0.6s;

      .update-btn:active {
        transform: translateY(4px);
      }
    }
  }
}
