@import "../../../variables";

.register-middle-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 15px;
  width: 16vw;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
  }

  @media only screen and (max-width: 1075px) {
    width: auto;
  }
  @media only screen and (max-width: 768px) {
    width: 300px;
  }
  @media only screen and (max-width: 412px) {
    width: 220px;
    margin-top: 1rem;
  }
  @media only screen and (max-width: 375px) {
    width: 240px;
    margin-top: 1rem;
  }
  @media only screen and (max-width: 360px) {
    width: 230px;
    margin-top: 1rem;
  }
  @media only screen and (max-width: 280px) {
    width: 200px;
    margin-top: 1rem;
  }
  .ribbon-container {
    display: block;
    position: sticky;
    height: auto;
    width: 40px;

    .ribbon {
      font-size: 2.2rem;
      font-weight: bold;
      color: $color-white;
      margin-top: -10px;

      @media only screen and (max-width: 1625px) {
        font-size: 2rem;
        margin-left: -0.5rem;
      }
      @media only screen and (max-width: 1280px) {
        font-size: 2rem;
        margin-left: -3.3rem;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 2rem;
        margin-left: -2.2rem;
      }
      @media only screen and (max-width: 912px) {
        font-size: 1.8rem;
        margin-left: -2rem;
      }
      @media only screen and (max-width: 820px) {
        font-size: 1.8rem;
        margin-left: -2rem;
      }
      @media only screen and (max-width: 768px) {
        font-size: 2rem;
        margin-left: 1.6rem;
      }
      @media only screen and (max-width: 540px) {
        font-size: 2rem;
        margin-left: 1.3rem;
      }
      @media only screen and (max-width: 430px) {
        font-size: 2rem;
        margin-left: 1.3rem;
      }
      @media only screen and (max-width: 414px) {
        font-size: 2rem;
        margin-left: 1.3rem;
      }
      @media only screen and (max-width: 412px) {
        font-size: 2rem;
        margin-left: -2.6rem;
      }
      @media only screen and (max-width: 390px) {
        font-size: 2rem;
        margin-left: -2.5rem;
      }
      @media only screen and (max-width: 375px) {
        font-size: 2rem;
        margin-left: -1.5rem;
      }
      @media only screen and (max-width: 360px) {
        font-size: 2rem;
        margin-left: -2rem;
      }
      @media only screen and (max-width: 280px) {
        font-size: 1.6rem;
        margin-left: -0.6rem;
      }
    }

    .ribbon {
      --f: 0.5em;
      position: absolute;
      padding-inline: 1.2lh;
      padding-bottom: var(--f);
      clip-path: polygon(
        100% calc(100% - var(--f)),
        100% 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),
        var(--f) calc(100% - var(--f)),
        0 100%,
        0 calc(100% - var(--f)),
        999px calc(100% - var(--f) - 999px),
        calc(100% - 999px) calc(100% - var(--f) - 999px)
      );
      transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
      transform-origin: 0% 100%;
      background-color: $color-blue;
    }
  }

  .register-h3 {
    text-align: center;

    .register-h3-text {
      font-size: 2rem;
      font-weight: 600;
      @media only screen and (max-width: 1300px) {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  .middle-img-container {
    text-align: center;

    .register-img {
      max-width: 230px;
      height: 360px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;

      @media only screen and (max-width: 1540px) {
        max-width: 200px;
        height: 260px;
      }
      @media only screen and (max-width: 1360px) {
        max-width: 180px;
        height: 260px;
      }
    }
  }

  .register-span-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .span-text {
      font-size: 1.1rem;
      font-weight: 600;

      @media only screen and (max-width: 1445px) {
        font-size: 1rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 1225px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }

  .register-button-container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .listing-btn {
      border: 2px solid $color-blue;
      border-radius: 2rem;
      background-color: $color-white;
      padding: 0.2rem 1rem;
      color: $color-blue;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;
      transition: all ease-in-out 0.5s;
      @media only screen and (max-width: 1610px) {
        font-size: 1.2rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 1430px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .listing-btn:hover {
      background: $color-blue;
      color: $color-white;
      transform: scale(0.9);
      transition: all ease-in-out 0.5s;
      -webkit-transition: all ease-in-out 0.5s;
      -moz-transition: all ease-in-out 0.5s;
      -ms-transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
    }
    .listing-btn:active {
      transform: translateY(4px);
    }

    .update-btn {
      border: 2px solid $color-orange;
      border-radius: 2rem;
      background-color: $color-white;
      padding: 0.2rem 2rem;
      font-weight: 600;
      color: $color-orange;
      font-size: 1.4rem;
      cursor: pointer;
      transition: all ease-in-out 0.5s;
      @media only screen and (max-width: 1610px) {
        font-size: 1.2rem;
        font-weight: 600;
      }
      @media only screen and (max-width: 1430px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
    .update-btn:hover {
      background: $color-orange;
      color: $color-white;
      transform: scale(0.9);
      transition: all ease-in-out 0.5s;
      .update-btn:active {
        transform: translateY(4px);
      }
    }
  }
}
