@import "../../../variables";

.updateProfile {
  .container {
    background-color: $color-white;
    border-radius: $radius;
    padding: 2.5rem 1rem;

    @media screen and (min-width: 768px) {
      padding: 3%;
    }
  }
  .divider {
    width: 90%;
    margin: 2% auto;
    opacity: 0.5;

    @media screen and (min-width: 900px) {
      display: block;
      width: auto;
      margin: 2.5% auto;
    }
  }
  &-body {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &-left {
      width: 90%;
      max-width: 35rem;
      margin: auto;

      @media screen and (min-width: 900px) {
        max-width: 40%;
      }
      &-image {
        display: flex;
        justify-content: center;

        &-content {
          width: 50%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;

          @media screen and (min-width: 1200px) {
            width: 35%;
          }
        }
      }

      &-fileUpload {
        width: 100%;
        margin: 2.5rem 0;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 900px) {
          margin: 5% 0;
        }
      }
    }

    &-right {
      width: 100%;
      @media screen and (min-width: 900px) {
        width: 55%;
      }
      &-form {
        @media screen and (min-width: 425px) {
          &-name,
          &-contact {
            display: flex;
            justify-content: space-between;
          }
          &-name .signUp-body-form-input,
          &-contact .signUp-body-form-input {
            width: 49%;
          }
        }

        &-input {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }
}
