@import "../../../variables";

.update-white-container {
  height: calc(80vh - 2rem);
  width: 90%;
  margin: 10rem auto;
  background-color: $color-white;
  border-radius: 25px;
}
.update-main-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  height: 100%;
}

.update-left-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .update-file-input {
    margin-left: 22rem;
  }
}

.update-left-image {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.update-right-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 5rem;
  margin: auto;

  .update-right-header {
    text-align: center;
  }

  .update-form-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    .update-right-form1 {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    .update-right-form4 {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
  .update-input {
    width: 25vw;
    height: 4vh;
    border-radius: 25px;
    border: 1px solid black;
    margin-bottom: 5px;
  }
  .update-right-button {
    text-align: center;
  }
}

.file-input {
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "Poppins";

  &::file-selector-button {
    font: inherit;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    margin-right: 1.2rem;
    border-radius: 5px;
    border: none;
    color: $color-white;
    background-color: $color-orange;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: darken($color-orange, 10%);
    }
  }
}
