@import "../../variables";

.about-us {
  padding-left: 1rem;
  padding-right: 1rem;

  .info {
    .text {
      margin-bottom: 1.5rem;
    }
  }
  .img {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;

    .info {
      width: 65%;
      padding: 5rem 2rem;

      .title {
        text-align: end;
      }
    }

    .img {
      margin: auto;
      width: 33%;
      max-width: 44rem;
      display: flex;
      flex-direction: column;

      img {
        height: 17.5rem;
        cursor: pointer;
      }
      .image2 {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
