@import "../../variables";

.about-us-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10rem;

  .header {
    text-align: end;
    font-weight: 600;
    color: $color-brown;
    font-size: 4.8rem;
    margin-left: 60rem;
  }

  .description {
    text-align: justify;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 20px;
    word-wrap: break-word;
    width: 100rem;
    margin-left: 10rem;
  }

  .main-header {
    padding: 20px;
  }

  .main-img {
    cursor: pointer;
  }

  .image2 {
    margin-left: 23rem;
  }
}
