@import "../../index.scss";

.center {
  text-align: center;
}

#error h1 {
  color: #1d1d1d;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 1px 0 #414141;
  margin-top: 150px;
  margin-right: 100px;
  text-align: right;
}

#error-monster-1 {
  margin-top: 45px;
  background: url("https://res.cloudinary.com/diulw3d0x/image/upload/v1470132495/hole_imyzyu.png");
  width: 235px;
  height: 237px;
}

@keyframes swinging {
  from {
    transform: rotate(-7deg);
  }
  to {
    transform: rotate(7deg);
  }
}

#error-monster-2 {
  animation: swinging 1s ease-in-out infinite alternate;
  margin-left: 25px;
  margin-top: 216px;
  transform-origin: 75% -40px;
}

#error-monster-3 {
  margin-top: 170px;
  float: right;
  margin-right: 100px;
}

#error-monster-4 {
  margin-top: 0;
  float: right;
  margin-left: 0px;
  height: 168px;
  margin: -174px 220px 0 0;
}

#error h1 {
  margin-right: 0;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  margin-bottom: 20px;
}

.column.alpha,
.columns.alpha {
  margin-left: 0;
}

.column.omega,
.columns.omega {
  margin-right: 0;
}

.container .one.column,
.container .one.columns {
  width: 40px;
}

.container .two.columns {
  width: 100px;
}

.container .three.columns {
  width: 160px;
}

.container .four.columns {
  width: 220px;
}

.container .five.columns {
  width: 280px;
}

.container .six.columns {
  width: 340px;
}

.container .seven.columns {
  width: 400px;
}

.container .eight.columns {
  width: 460px;
}

.container .nine.columns {
  width: 520px;
}

.container .ten.columns {
  width: 580px;
}

.container .eleven.columns {
  width: 640px;
}

.container .twelve.columns {
  width: 700px;
}

.container .thirteen.columns {
  width: 760px;
}

.container .fourteen.columns {
  width: 820px;
}

.container .fifteen.columns {
  width: 880px;
}

.container .sixteen.columns {
  width: 940px;
}

.container .one-third.column {
  width: 300px;
}

.container .two-thirds.column {
  width: 620px;
}

.container .offset-by-one {
  padding-left: 60px;
}

.container .offset-by-two {
  padding-left: 120px;
}

.container .offset-by-three {
  padding-left: 180px;
}

.container .offset-by-four {
  padding-left: 240px;
}

.container .offset-by-five {
  padding-left: 300px;
}

.container .offset-by-six {
  padding-left: 360px;
}

.container .offset-by-seven {
  padding-left: 420px;
}

.container .offset-by-eight {
  padding-left: 480px;
}

.container .offset-by-nine {
  padding-left: 540px;
}

.container .offset-by-ten {
  padding-left: 600px;
}

.container .offset-by-eleven {
  padding-left: 660px;
}

.container .offset-by-twelve {
  padding-left: 720px;
}

.container .offset-by-thirteen {
  padding-left: 780px;
}

.container .offset-by-fourteen {
  padding-left: 840px;
}

.container .offset-by-fifteen {
  padding-left: 900px;
}

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
