@import "../../variables";

.pagination {
  .rc-pagination {
    text-align: center;

    .rc-pagination-item,
    .rc-pagination-item a,
    .rc-pagination-item-link {
      font: 700 1.8rem $font;
      color: $color-blue !important;

      @media screen and (min-width: 1200px) {
        font-size: 2.2rem !important;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.6rem !important;
      }
    }

    .rc-pagination-item {
      width: 3rem;
      border: none;
      background: none;

      a:hover {
        color: $color-orange !important;
      }
    }

    .rc-pagination-item-active {
      background: $color-orange !important;
      border-radius: 8px !important;
      padding-top: 0.1px;
      color: red !important;

      &:hover {
        background: $color-blue !important;
      }

      a {
        color: #fdfdfd !important;
      }
    }

    .rc-pagination-prev {
      margin-right: 1rem;
    }

    .rc-pagination-next {
      margin-left: 1rem;
    }

    .rc-pagination-prev svg,
    .rc-pagination-next svg {
      width: 2.4rem;
      height: 2.4rem;
      color: $color-blue;
    }

    .rc-pagination-item-link {
      display: flex;
      justify-content: center;
      &::after {
        padding-top: 0.5rem;
      }
    }
  }
}
