@import "../../../index.scss";

.profile-container {
  width: 90%;
  margin: auto;
  color: $color-darkgray;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}

.profile-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 15px;
  background-color: $color-white;
  font-size: 1rem;
  width: 25vw;
  height: 70vh;

  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .account-text {
    font-weight: 400;
    font-size: 1.8rem;
    color: $color-brown;
  }
  .middle_container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .middle-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .account-details {
    display: flex;
    flex-direction: row;
    gap: 4.6rem;
    grid-template-columns: 1fr 75%;
    border-bottom: 1px solid $color-mainlyblue;
    padding-bottom: 1rem;
  }

  .account-contact {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid $color-mainlyblue;
    padding-bottom: 1rem;
  }

  .account-address {
    display: flex;
    gap: 20px;
  }

  .account-span {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .account_emailText {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .account-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .footer-content {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

// register outside container //
.register_white_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 15px;
  border-radius: 15px;
  background-color: $color-white;

  .register-gray-container {
    background-color: $color-mainlyblue;
    border-radius: 15px;
    padding: 10px;
    height: auto;
  }

  .register-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    grid-template-columns: 1fr 10px;
    padding-right: 10px;

    h4 {
      color: $color-brown;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}

//registered pet middle container which is the Card

.register-card-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.register-middle-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  padding: 10px;
  border-radius: 15px;

  .register-img {
    border-radius: 15px;
  }

  .register-span-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    .span-text {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  .register-button-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .listing-btn {
      border: 1px solid $color-blue;
      border-radius: 15px;
      background-color: $color-white;
      padding: 1px 5px 1px 5px;
      color: $color-blue;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;
    }
    .listing-btn:hover {
      background: $color-blue;
      color: $color-white;
      transform: scale(0.9);
      transition: 0.6s;
    }
    .listing-btn:active {
      transform: translateY(4px);
    }

    .update-btn {
      border: 1px solid $color-orange;
      border-radius: 15px;
      background-color: $color-white;
      padding: 1px 5px 1px 5px;
      font-weight: 600;
      color: $color-orange;
      font-size: 1.6rem;
      cursor: pointer;
    }
    .update-btn:hover {
      background: $color-orange;
      color: $color-white;
      transform: scale(0.9);
      transition: 0.6s;

      .update-btn:active {
        transform: translateY(4px);
      }
    }
  }
}

.register-btnAdd {
  color: $color-orange;
  border-radius: 15px;
  padding: 2px 10px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}
.register-btnAdd:hover {
  background: $color-orange;
  color: $color-white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  .register-btnAdd:active {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

.bottom-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-right: 0px;
}
.register-footer-text {
  text-align: center;
}
