@import "../../../variables";

.profile-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 15px;
  background-color: $color-white;
  font-size: 1rem;
  width: 25vw;
  height: 70vh;

  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .account-text {
    font-weight: 400;
    font-size: 1.8rem;
    color: $color-brown;
  }
  .middle_container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .middle-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .account-details {
    display: flex;
    flex-direction: row;
    gap: 4.6rem;
    grid-template-columns: 1fr 75%;
    border-bottom: 1px solid $color-mainlyblue;
    padding-bottom: 1rem;
  }

  .account-contact {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid $color-mainlyblue;
    padding-bottom: 1rem;
  }

  .account-address {
    display: flex;
    gap: 20px;
  }

  .account-span {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .account_emailText {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .account-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .footer-content {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
