@import "../../variables";

.pet-filter {
  width: 100%;
  position: relative;
  
  @media screen and (min-width: 768px) {
    width: 25%;
  }

  .toggler {
    margin-top: 1rem;
    margin-right: 2rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 9.85rem;
    height: 4.2rem;
    opacity: 0;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:checked ~ .body {    
      margin: auto;
      margin: 2rem 0;   
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      @media screen and (min-width: 768px) {
        margin: 0;
      }
    } 
  }

  .header {
    width: 100%;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;  

    @media screen and (min-width: 768px) {
      padding-right: 0;
      justify-content: flex-start;  
    }

    .click {
        padding: .5rem;
        border: .2rem solid $color-brown;

        @media screen and (min-width: 768px) {
          padding: 0;
          border: none;
        }
      }
    
  }

  .body {
    display: none;

    @media screen and (min-width: 768px) {
      width: 90%;
      display: flex;
      flex-direction: column;
    }
    & > * {
      padding: 1rem;
    }

    & > :not(:last-child) {
      @media screen and (min-width: 768px) {
        border-bottom: .2rem solid $color-brown;

      }
    }

    .species *,
    .gender *,
    .size *,
    .location * {
        padding-bottom: 0.5rem;

        @media screen and (min-width: 768px) {
          padding-bottom: .7rem;
        }

        @media screen and (min-width: 1440px) {
          padding-bottom: 1.3rem;
        }
    }

    .main {
      text-transform: capitalize;
      font-weight: 600;
      font-size:  1.8rem;
    
      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }

      @media screen and (min-width: 1440px) {
        font-size: 2.4rem;
      }
    }

    input.checkbox {
      margin: 0 .25rem;
      width: 2rem;
      cursor: pointer;
    }

    .label {
      font-weight: 400;
      text-transform: capitalize;
    }
  }

}