@import "../../../variables";

.profile-container {
  color: $color-darkgray;
  display: grid;
  grid-template-columns: 25% 65%;
  gap: 5rem;
  justify-content: center;
  padding-bottom: 10rem;

  @media only screen and (max-width: 1075px) {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
}
