// @import "../Showcase/Showcase.scss";
@import "../../../variables";

.featured-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 10rem 5rem;

  .featured-header {
    font-size: 4.8rem;

    @media only screen and (max-width: 1200px) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 410px) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 340px) {
      font-size: 2rem;
    }
  }

  .featured-middle-container {
    display: flex;
    flex: 1 1;
    gap: 3rem;
    background: $color-semiwhite;
    border-radius: 20px;
    padding: 4rem;

    @media screen and (max-width: 1625px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    @media screen and (max-width: 1600px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    .featured-right-details {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      gap: 0.5rem;
      font-weight: 400;

      .featured-story-title {
        color: $color-orange;
        font-weight: 700;
        margin-top: 1rem;

        @media only screen and (max-width: 1000px) {
          font-size: 2.8rem;
        }
        @media only screen and (max-width: 720px) {
          font-size: 2.2rem;
        }
        @media only screen and (max-width: 590px) {
          font-size: 1.6rem;
        }
        @media only screen and (max-width: 378px) {
          font-size: 1.4rem;
        }
      }

      .featured-date {
        color: $color-blue;
        font-weight: 600;

        @media only screen and (min-width: 1200px) {
          font-size: 1.4rem;
        }

        @media only screen and (min-width: 1600px) {
          font-size: 1.6rem;
        }
      }

      .featured-text {
        text-align: justify;
        color: $color-brown;
        margin-top: 1.5rem;
        font-size: 1.2rem;

        @media only screen and (min-width: 1200px) {
          font-size: 1.4rem;
        }

        @media only screen and (min-width: 1800px) {
          font-size: 1.6rem;
        }
      }
    }

    .featured-img {
      border-radius: 5px;

      @media screen and (max-width: 1700px) {
      }
      @media screen and (max-width: 1600px) {
        width: 500px;
      }

      @media screen and (max-width: 1000px) {
        width: 400px;
      }
      @media screen and (max-width: 500px) {
        width: 300px;
      }
    }
  }
}
