// @import "../Showcase/Showcase.scss";
@import "../../../variables";

.adoption-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  .adoption-header-text {
    font-size: 4.8rem;

    @media only screen and (max-width: 1200px) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 375px) {
      font-size: 3.5rem;
    }
  }

  .adoption-detail-container {
    text-align: center;

    .adoption-detail-text {
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-brown;
    }
  }
  .adoption-img-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }

    @media only screen and (max-width: 900px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 5rem;
    }

    .adoption-img-content {
      text-align: center;

      .adoption-image {
        @media only screen and (max-width: 375px) {
          width: 100px;
        }
      }
    }
  }
}
