@import "../../../variables";

.contact-section-container {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  height: 41vh;
  background: $color-coffee;

  .contact-section-img {
    height: 41vh;
    object-fit: fill;
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;

    .contact-section-title {
      color: $color-blue;
      font-size: 5.2rem;
      font-weight: 700;
    }

    .contact-middle-info {
      text-align: center;
    }
  }
}

// .contact-us {
//   background-color: #f9d9aa;

//   .container {
//     padding: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     @media screen and (max-width: 426px) {
//       flex-direction: column-reverse;
//     }
//   }

//   .info {
//     padding: 0 2.5rem;
//     // width: 60%;
//     text-align: center;

//     @media screen and (max-width: 768px) {
//       width: 95%;
//       margin: 0;
//       padding: 2rem;
//     }
//     .title {
//       margin: 1rem 0;
//       color: $color-blue;
//     }
//     .text {
//       text-align: center;
//     }
//   }

//   .img {
//     // width: 40%;
//     //     display: flex;
//     //     justify-content: center;

//     @media screen and (max-width: 768px) {
//       display: none;
//     }
//     img {
//       max-height: 25rem;
//       width: auto;
//     }
//   }
// }
