// color
$color-orange: #ff902a;
$color-brown: #2f2105;
$color-blue: #003459;
$color-beige: #f6ebda;
$color-white: white;
$color-lbrown: #d9bba0;
$color-darkgray: #7a808c;
$color-mainlyblue: #ebeeef;
$color-lightgray: #667479;
$color-black: #000;
$color-semiwhite: #f4f4f4;

//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
$font: "Poppins", sans-serif;

//other
$radius: 1.5rem;
