
// color
$color-orange: #FF902A;
$color-brown:#2F2105;
$color-blue: #003459;
$color-beige: #F6EBDA;
$color-white: white;
$color-lbrown: #D9BBA0;
$color-darkgray: #7a808c;
$color-mainlyblue: #ebeeef;
//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
$font: 'Poppins', sans-serif;

//other
$radius: 1.5rem;
