// Variable
@import "_variables";

// universal css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: $color-brown;
  font-family: $font;
  background-color: $color-beige;
}

// heading
h1 {
  line-height: 1;
  font: 700 4rem $font;

  // @media screen and (min-width: 1441px) {
  //   font-size: 4.4rem;
  // }

  @media (max-width: 767px) {
    font-size: 3rem;
  }
}
// sub heading
h2 {
  font: 600 3.2rem $font;
  line-height: 1;

  @media (min-width: 1200px) {
    font-size: 3.6rem;
  }

  @media (max-width: 767px) {
    font-size: 2.8rem;
  }
}
//title
h3 {
  font: 700 2.4rem $font;

  @media (min-width: 1200px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2.2rem;
  }
}
// sub title
h4 {
  font: 700 1.8rem $font;

  @media (min-width: 1200px) {
    font-size: 2.2rem;
  }

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
}

h5 {
  font: 400 1.4rem $font;

  @media (min-width: 1200px) {
    font-size: 2rem;
  }

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}
//regular text
h6 {
  font: 400 1.2rem $font;

  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }
}
p {
  font: 400 1.2rem $font;
  text-align: justify;
  line-height: 2.5rem;

  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }
}

.title {
  // padding-top: 10rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

label {
  font: 400 1.8rem $font;
  font-weight: 600;
  line-height: 2rem;
}

.container {
  width: 95vw;
  margin: auto;

  @media (min-width: 1200px) {
    width: 90vw;
  }
}

.spacing-t {
  padding-top: 5rem;
}

.spacing-b {
  padding-bottom: 5rem;
}
.card {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

a {
  cursor: pointer !important;
  all: unset;
}

button {
  font-family: $font;
}

.btns {
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
