// Variable
@import "_variables";
// universal css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: $color-brown;
  font-family: $font;
  background-color: $color-beige;
}

// heading
h1 {
  line-height: 1;
  font: 700 4rem $font;
  // @media screen and (min-width: 1441px) {
  //   font-size: 4.4rem;
  // }
  @media screen and (max-width: 767px) {
    font-size: 3rem;
  }
}

// sub heading
h2 {
  font: 600 3.2rem $font;
  line-height: 1;
  @media screen and (min-width: 1440px) {
    font-size: 3.6rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 2.8rem;
  }
}

//title
h3 {
  font: 700 2.4rem $font;
  @media screen and (min-width: 1440px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 2.2rem;
  }
}

// sub title
h4 {
  font: 700 1.8rem $font;
  @media screen and (min-width: 1440px) {
    font-size: 2.2rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.4rem;
  }
}

h5 {
  font: 400 1.4rem $font;
  @media screen and (min-width: 1440px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
  }
}

//regular text
h6 {
  font: 400 1.2rem $font;
  @media screen and (min-width: 1440px) {
    font-size: 1.6rem;
  }
  // @media screen and (max-width: 767px) {
  //   font-size: 1.0rem;
  // }
}

// paragraph
p {
  font: 400 1.3rem $font;
  text-align: justify;
  line-height: 2.5rem;
  @media screen and (min-width: 1440px) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
  }
}

// start custom font sizes
.label {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.6rem;
  @media screen and (min-width: 1440px) {
    font-size: 2rem;
    margin-top: 1.2rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.4rem;
    margin-top: 0.7rem;
  }
}
.input-textbox,
.input-textarea,
.input-select,
.input-select option {
  font: 400 1.2rem $font;
  @media screen and (min-width: 1440px) {
    font-size: 1.6rem;
  }
}
.button,
.file-input {
  font: 400 1.4rem $font;
  @media screen and (min-width: 1440px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
  }
}
// end custom font sizes

// start custom container sizes
.container {
  width: 95vw;
  margin: auto;
  @media (min-width: 1440px) {
    width: 90vw;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
}
// end custom container sizes

// start custom spacing
.title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.spacing-t {
  padding-top: 5rem;
}

.spacing-b {
  padding-bottom: 5rem;
}

.margin-t {
  @media screen and (min-width: 425px) {
    margin-top: 2.5rem;
  }
  @media screen and (min-width: 768px) {
    margin-top: 5rem;
  }
}

.margin-b {
  @media screen and (min-width: 425px) {
    margin-bottom: 2.5rem;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 5rem;
  }
}
// end custom spacing

// other
.no-data {
  width: 100%;
  padding-top: 5rem;
  text-align: center;
  // display: flex;
}

a {
  cursor: pointer !important;
  all: unset;
}
.nav-link {
  transition: all ease 0.5s;
}
.nav-link:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;

  @media only screen and (max-width: 950px) {
    transform: scale(1.5);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
  }
}

.btns {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @media screen and (min-width: 375px) {
    
  }

  @media screen and (min-width: 425px) {
   margin-top: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1024px) {
    
  }
}
