// Variable
@import '_variables';

// font style
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


// universal css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    padding-top: 10rem;
    font-family: $font;
    background-color: $color-beige;
}

// heading
h1{
    line-height: 1;
    font: 700 4rem $font;
}
// sub heading
h2 {
    font: 600 3.2rem $font;
}
//title
h3 {
    font: 700 2.4rem $font;
}
// sub title
h4 {
    font: 700 1.8rem $font;
}

h5 {
    font: 400 1.4rem $font;
}
//regular text
h6 {
    font: 400 1.2rem $font;
}
.bg-orange {
    color: white !important;
    background-color: $color-orange;
}
.bg-blue {
    color: white !important;
    background-color: $color-blue;
}