@import "../../variables";

$lostPetsBanner: url("banner-lost-pets.png");
$foundPetsBanner: url("banner-found-pets.png");
$reunitedPetsBanner: url("banner-reunited-pets.png");

.lostPetsBanner {
  background-image: $lostPetsBanner;
}

.foundPetsBanner {
  background-image: $foundPetsBanner;
}

.reunitedPetsBanner {
  background-image: $reunitedPetsBanner;
}

.pets-banner-container {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

    mix-blend-mode: multiply;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.13) 0%,
      black 100%,
      rgba(217, 217, 217, 0) 100%
    );
    z-index: 1;
  }

  // .pets-banner-image {
  //   width: 100%;
  //   height: 100%;
  //   z-index: -999;
  //   object-fit: cover;
  // }

  .pets-banner-content {
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-20%);
    z-index: 2;

    .pets-banner-text {
      color: #fff;
      margin-bottom: 5rem;

      .pets-banner-title {
        font-size: 6.4rem;
        font-weight: 700;
      }

      .pets-banner-subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 3rem;
      }
    }
  }
}
