@import "../../../variables";

//registered pet middle container which is the Card

.register-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 85%;
  margin: auto;
  grid-template-rows: auto;
  gap: 3rem;

  @media only screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // gap: 1rem;
}
