@import "../../variables";

// .pets-gallery {
//   padding: 10rem;
//   display: grid;
//   grid-template-columns: 1fr auto;
// }

.pet-gallery {

  .container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  .header {
    margin-top: 1rem;
  }

  // .gallery {
  //   width: 75%;

  //   @media screen and (min-width: 1441px) {
  //     width: 70%;
  //   }

  //   @media screen and (max-width: 768px) {
  //     width: 100%;
  //   }
  // }
}
