@import "/src/variables";
.navbar-container {
  color: $color-blue;
  width: 100%;
  height: calc(100vh - 80vh);

  @media only screen and (max-width: 950px) {
    height: fit-content;
    position: fixed;
    top: 0;
    height: auto;
    z-index: 5;
    background: linear-gradient(45deg, #fac695 0%, #f5ab66 47%, #ef8d31 100%);
    -webkit-transform: translateY();
    -moz-transform: translateY();
    -ms-transform: translateY();
    -o-transform: translateY();
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header {
      font-weight: 600;
      font-size: 1.8rem;
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media only screen and (max-width: 950px) {
        height: 100vh;
      }
      @media only screen and (max-width: 1250px) {
        font-size: 1.6rem;
      }
    }
  }
  .navbar-logo {
    object-fit: cover;
    width: 8vw;
  }
  .active {
    color: $color-orange;

    @media only screen and (max-width: 950px) {
      color: $color-white;
    }
  }
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .navbar-icon {
      height: 2.4rem;
      width: 2.4rem;
    }
    @media only screen and (max-width: 1400px) {
      .navbar-icon {
        display: none;
      }
    }
  }
  .toggler {
    display: none;
  }
  .toggler:checked ~ .menu {
    display: flex;
    display: block;
    margin: auto;
    width: 100%;
    flex-direction: column;
  }
  // toggler animation
  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: $color-beige;
  }
  .toggler:checked + .hamburger > div::before,
  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  // animation end
  .hamburger {
    display: none;
  }
  .hamburger > div {
    position: relative;
    width: 100%;
    height: 0.3rem;
    background-color: $color-orange;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  .hamburger > div::before,
  .hamburger > div::after {
    content: "";
    position: absolute;
    top: -1rem;
    z-index: 1;
    width: 100%;
    height: 0.3rem;
    background: inherit;
  }
  .hamburger > div::after {
    top: 1rem;
  }
}

@media only screen and (max-width: 950px) {
  .navbar-container {
    .menu {
      display: none;
    }
    .header {
      flex-direction: column;
      display: none;
      gap: 5rem;
      .navbar-logo {
        object-fit: cover;
        width: 10rem !important;
      }
    }
    .hamburger {
      margin: auto 0.5rem;
      position: absolute;
      top: 0;
      right: 2.5%;
      z-index: 1;
      width: 4rem;
      height: 10rem;
      padding-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .toggler {
      margin: 0.5rem;
      margin-top: 2rem;
      position: absolute;
      top: 0;
      right: 2.5%;
      z-index: 2;
      cursor: pointer;
      width: 4rem;
      height: 8rem;
      opacity: 0;
      display: block;
    }
  }
}
