@import "../../variables";

.file-input {
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "Poppins";

  &::file-selector-button {
    font: inherit;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    margin-right: 1.2rem;
    border-radius: 5px;
    border: none;
    color: $color-white;
    background-color: $color-orange;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: darken($color-orange, 10%);
    }
  }
}
