@import "../../variables";

.file-input {
  max-width: 21.5rem;
  min-width: 19.5rem;

  @media screen and (min-width: 1440px) {
    max-width: 30rem;
  }

  &::file-selector-button {
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    border: none;
    border-radius: 5px;
    color: $color-white;
    background-color: $color-orange;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: darken($color-orange, 10%);
    }
  }
}
