@import "../../../index.scss";

.resources_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: auto;

  .resources_header {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

    .resources_header_text {
      font-size: 4.8rem;
      color: $color-brown;
      font-weight: 600;
    }
  }
}

.resources-middle-container {
  gap: 25px;
  justify-items: end;
  flex-direction: column;

  .resources_detail_container {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-white;
    margin: 2rem;
    border-radius: 20px;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    flex-direction: row;
    padding: 40px 20px 40px 20px;
  }

  .resources-image {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .resources-middle-content {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .resources-detail-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

    .resource-span-text {
      font-size: 1.8rem;
      color: $color-brown;
      text-align: justify;
    }

    .resources-detail-header {
      font-size: 3.2rem;
      color: $color-blue;
    }

    .resource-author-container {
      display: flex;
      gap: 5px;
    }

    .resources-author-text {
      font-weight: 600;
      font-size: 2rem;
      color: $color-orange;
    }

    .resources-date-text {
      font-size: 2rem;
      font-weight: 600;
      color: $color-brown;
    }
  }
}
